celery==4.2.1
redis==2.10.6
kombu==4.2.0


Flask==1.0.2

# Data and workers.
PyMySQL==0.9.3
Flask-SQLAlchemy==2.1

# Forms.
Flask-WTF==0.14.3
WTForms-Components==0.9.7

# Extensions.
flask-debugtoolbar==0.10.1
Flask-Mail==0.9.1
Flask-Login==0.3.2
